.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5F5F5;
}

.title {
    text-align: center;
    font-size: 24px;
    padding-bottom: 16px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 26px;
}

.newSeller {
    font-size: 12px;
    font-weight: 500;
    color: #2563EB;
    cursor: pointer;
    text-decoration: underline
}

@media (min-width: 600px) {
    .loginForm {
        padding: 0 calc(25% - 30px);
    }
}