.card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: all 0.3s ease;
    min-width: 240px;
    min-height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: .8rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    color: #2E2D37;
    padding-bottom: 5px;
    border-bottom: 2px solid #f0f0f0;
}

.detailContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detailRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.detailLabel {
    font-size: 11px;
    color: #AEAEBA;
    font-weight: 600;
    flex: 1;
}

.detailValue {
    font-size: 12px;
    color: #696977;
    font-weight: 600;
    flex: 1;
    text-align: right;
    word-break: break-word;
}

.divider {
    border-bottom: 2px solid #f0f0f0;
    margin-top: 6px;
    margin-bottom: 10px;
}

.actionButton {
    border: 2px solid #e0e0e0;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actionButton:hover {
    transform: scale(1.05);
    background-color: #f9f9f9;
    transition: .2s ease;
}