.mainBox {
    flex-direction: row;
    width: 100%;
    padding: 80px;
}

.title {
    text-align: left;
    font-size: 24px;
    padding-bottom: 16px;
}

.tableContainer {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.tableHeader {
    background-color: #f9f9f9;
    font-size: 12px;
    color: #2E2D37;
    text-align: left;
    border-bottom: 2px solid #f0f0f0;
}

.tableHeader th {
    padding: 12px 16px;
}

.tableRow {
    transition: background 0.3s ease;
}

.tableRow:hover {
    background-color: #f5f5f5;
}

.tableCell {
    padding: 12px 16px;
    font-size: 12px;
    color: #696977;
    font-weight: 500;
}

.actionButton {
    border: 2px solid #e0e0e0;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    width: 2.2rem;
    height: 2.2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actionButton:hover {
    transform: scale(1.05);
    background-color: #f9f9f9;
    transition: .2s ease;
}