* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #2E2D37;
}

.titleSpan {
    color: #2563EB;
}

.inputLabel {
    font-weight: 500;
    color: #2E2D37;
    font-size: 14px;
}

.input {
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    outline: none;
    margin-bottom: 10px;
}

.authButton {
    align-self: center;
    width: 100%;
    padding: 10px;
    background-color: #2563EB;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.backButton {
    margin: 10px;
    position: absolute;
    cursor: pointer;
}

.errorMessage {
    color: red;
    font-size: 12px;
    margin-bottom: 16px;
}