.box {
    height: 100vh;
    background-color: #F5F5F5;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #F5F5F5;
}

.title {
    text-align: center;
    font-size: 24px;
    padding-bottom: 16px;
    color: #2E2D37;
}

.registerForm {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 26px;
}

@media (min-width: 600px) {
    .registerForm {
        padding: 0 calc(25% - 30px);
    }
}