.card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: all 0.3s ease;
    min-width: 220px;
    min-height: 210px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 1rem;
    text-align: left;
    font-weight: 600;
    /* margin-bottom: 15px; */
    color: #2E2D37; 
}

.infoText {
    font-weight: 600;
    font-size: 12px;
    color: #AEAEBA;
}
.subinfo {
    margin-top: auto;
}

.priceText {
    font-weight: 600;
    font-size: 14px;
    color: #696977;
}

.yearKmBox {
    display: flex;
    justify-content: space-between;
}
